---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="parsa" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lalezar&display=swap"
      rel="stylesheet"
    />
    <title>Pawrsa</title>
  </head>

  <body class="flex flex-row">
    <aside>
      <div>
        <div class="flex flex-row space-x-4 mb-4">
          <img
            src="parsa.jpg"
            alt="image"
            class="w-12 h-12 rounded-full object-cover"
            draggable="false"
          />
          <h1 class="text-[40px] font-bold text-mocha-mauve select-none">
            Parsa Norozi
          </h1>
        </div>
        <h2 class="mb-4 text-mocha-text font-semibold">Front End Engineer</h2>
        <p>
          <span class="text-mocha-blue">[B]</span>uilding seamless ,
          blazing-fast<br />interfaces for the World Wide Web.
        </p>
      </div>

      <nav class="flex flex-col mt-24 space-y-2 w-10">
        <a class="nav-section nav-member" href="#about">About</a>
        <a class="nav-section nav-member" href="#skills">Skills</a>
        <a class="nav-section nav-member" href="#contact">Contact</a>
      </nav>

      <div class="flex space-x-4 mt-24">
        <a
          href="https://discord.com/users/777881392393879553"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img class="icon" src="discord.svg" alt="discord" />
        </a>
        <a
          href="https://github.com/r4ype"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img class="icon" src="github.svg" alt="github" />
        </a>
        <a
          href="https://www.linkedin.com/in/pawrsa/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img class="icon" src="linkedin.svg" alt="linkedin" />
        </a>
        <a
          href="mailto:raypemaster@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img class="icon" src="google.svg" alt="google" />
        </a>
        <a
          href="mailto:parsamiller@outlook.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img class="icon" src="microsoft.svg" alt="outlook" />
        </a>
      </div>
    </aside>

    <main>
      <section id="about">
        <p>
          im parsa norozi (legal name: hosein norozi), <span
            class="text-mocha-text font-semibold bg-mocha-surface1"
            >18 year old</span
          >
          front end enginier
        </p>
      </section>
      <section id="skills">skills section</section>
      <section id="contact">contact section</section>
    </main>
  </body>
</html>
