<!-- --- -->
<!-- import "../styles/global.css"; -->
<!-- import Skills from "../components/skills.astro"; -->
<!-- import Socials from "../components/socials.astro"; -->
<!-- import About from "../components/about.astro"; -->
<!-- --- -->
<!---->
<!-- <html lang="en"> -->
<!--   <head> -->
<!--     <meta charset="UTF-8" /> -->
<!--     <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
<!--     <meta name="author" content="parsa" /> -->
<!--     <meta -->
<!--       name="description" -->
<!--       content="Parsa Norozi - Front End Engineer building seamless, blazing-fast interfaces for the World Wide Web." -->
<!--     /> -->
<!--     <link rel="preconnect" href="https://fonts.googleapis.com" /> -->
<!--     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> -->
<!--     <link -->
<!--       href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lalezar&display=swap" -->
<!--       rel="stylesheet" -->
<!--     /> -->
<!--     <title>Pawrsa</title> -->
<!--   </head> -->
<!---->
<!--   <body> -->
<!--     <aside> -->
<!--       <div> -->
<!--         <div class="flex flex-row space-x-4 mb-4"> -->
<!--           <img -->
<!--             src="parsa.jpg" -->
<!--             alt="image" -->
<!--             class="w-12 h-12 rounded-full object-cover" -->
<!--             draggable="false" -->
<!--             loading="lazy" -->
<!--           /> -->
<!--           <h1 class="text-[40px] font-bold text-nebula-accent select-none"> -->
<!--             Parsa Norozi -->
<!--           </h1> -->
<!--         </div> -->
<!--         <h2 class="mb-4 text-nebula-text font-semibold">Front End Engineer</h2> -->
<!--         <p> -->
<!--           <span class="text-nebula-blue">[B]</span>uilding seamless , -->
<!--           blazing-fast<br />interfaces for the World Wide Web. -->
<!--         </p> -->
<!--       </div> -->
<!---->
<!--       <nav class="flex flex-col mt-24 space-y-2 w-10"> -->
<!--         <a class="nav-member" href="#about">About</a> -->
<!--         <a class="nav-member" href="#skills">Skills</a> -->
<!--         <a class="nav-member" href="#contact">Contact</a> -->
<!--       </nav> -->
<!---->
<!--       <Socials /> -->
<!--     </aside> -->
<!---->
<!--     <main> -->
<!--       <section id="about" class="pt-16"><About /></section> -->
<!--       <section id="skills"><Skills /></section> -->
<!--       <section id="contact"></section> -->
<!--     </main> -->
<!--   </body> -->
<!-- </html> -->


