<div>
  <p>
    im parsa norozi (legal name: hosein norozi), <span class="highlight"
      >18 year old</span
    >
    front end engineer. i started my Computer Science journey back in 2020, and steped
    in the amazing world of UI design in <span class="highlight">2023</span>
  </p>
  <p class="mt-6">
    i started learning the basics of ui/ux design by creating simple
    <span class="highlight">desktop apps</span> using
    <a target="”_blank”" href="https://luart.org/index.html" class="ex-link"
      >luaRT</a
    > and
    <a target="”_blank”" href="https://slint.dev/" class="ex-link">Slint</a>. i
    always enjoyed recoloring and customizing my work environment.
  </p>
  <p class="mt-6">
    by putting hours of time on researches about design standards and eye
    comforting color palettes and spending even more time <span
      class="highlight">selecting a font</span
    >, i shaped a designer mind and personality.
  </p>
</div>

<style>
  .highlight {
    background-color: var(--nebula-highlight);
    color: var(--nebula-text);
    font-weight: 600;
  }

  .ex-link {
    color: var(--nebula-blue);
  }
  .ex-link:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
  }
</style>
