<div class="flex flex-col mt-20 gap-4">
  <div class="flex">
    <div class="line-between flex flex-col">
      <span class="timemark">2002</span>
      <span class="line"></span>
    </div>

    <div class="flex flex-col">
      <h1>Javascript</h1>

      <a href="https://tile-or-die.vercel.app/" target="_blank" class="card">
        <h2>Tile Or Die | a fun 2048 math game</h2>
        <p>
          hop in the world of tiles and math, miss a single key and lose all
          your points, your sanity, all the time you wasted... im sorry!
        </p>
        <div class="tagbox">
          <span class="nametag">#html</span>
          <span class="nametag">#css</span>
          <span class="nametag">#javascript</span>
        </div>
      </a>
      <a href="test.com" class="card">
        <h2>---</h2>
        <p>---</p>
        <div class="tagbox">
          <span class="nametag">---</span>
          <span class="nametag">---</span>
          <span class="nametag">---</span>
        </div>
      </a>
    </div>
  </div>

  <div class="flex">
    <div class="line-between flex flex-col">
      <span class="timemark">2002</span>
      <span class="line"></span>
    </div>

    <div class="flex flex-col">
      <h1>Javascript</h1>

      <a href="https://tile-or-die.vercel.app/" target="_blank" class="card">
        <h2>---</h2>
        <p>---</p>
        <div class="tagbox">
          <span class="nametag">---</span>
          <span class="nametag">---</span>
          <span class="nametag">---</span>
        </div>
      </a>
      <a href="test.com" class="card">
        <h2>---</h2>
        <p>---</p>
        <div class="tagbox">
          <span class="nametag">---</span>
          <span class="nametag">---</span>
          <span class="nametag">---</span>
        </div>
      </a>
    </div>
  </div>

  <div class="flex">
    <div class="line-between flex flex-col">
      <span class="timemark">2002</span>
      <span class="line"></span>
    </div>

    <div class="flex flex-col">
      <h1>Javascript</h1>

      <a href="https://tile-or-die.vercel.app/" target="_blank" class="card">
        <h2>---</h2>
        <p>---</p>
        <div class="tagbox">
          <span class="nametag">---</span>
          <span class="nametag">---</span>
          <span class="nametag">---</span>
        </div>
      </a>
      <a href="test.com" class="card">
        <h2>---</h2>
        <p>---</p>
        <div class="tagbox">
          <span class="nametag">---</span>
          <span class="nametag">---</span>
          <span class="nametag">---</span>
        </div>
      </a>
    </div>
  </div>

  <div class="flex">
    <div class="line-between flex flex-col">
      <span class="timemark">2002</span>
      <span class="line"></span>
    </div>

    <div class="flex flex-col">
      <h1>Javascript</h1>

      <a href="https://tile-or-die.vercel.app/" target="_blank" class="card">
        <h2>---</h2>
        <p>---</p>
        <div class="tagbox">
          <span class="nametag">---</span>
          <span class="nametag">---</span>
          <span class="nametag">---</span>
        </div>
      </a>
      <a href="test.com" class="card">
        <h2>---</h2>
        <p>---</p>
        <div class="tagbox">
          <span class="nametag">---</span>
          <span class="nametag">---</span>
          <span class="nametag">---</span>
        </div>
      </a>
    </div>
  </div>
</div>

<style>
  h1 {
    font-size: 18px;
    font-weight: 600;
    color: var(--nebula-text);
  }
  h2 {
    color: var(--nebula-text);
  }
  p {
    color: color-mix(in srgb, var(--nebula-text), transparent 50%);
  }
  .line-between {
    display: inline-block;
    white-space: nowrap;
  }
  .card {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    transition:
      transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .card:hover {
    background-color: color-mix(in srgb, var(--nebula-text), transparent 90%);
    transform: translate(5px, -5px);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
  }
  .line-between .line {
    display: inline-block;
    width: 30px;
    height: 1px;
    background-color: color-mix(in srgb, var(--nebula-text), transparent 70%);
    vertical-align: middle;
    margin-right: 1rem;
  }
  .timemark {
    font-size: 0.8rem;
    color: color-mix(in srgb, var(--nebula-text), transparent 70%);
  }
  .tagbox {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.7rem;
  }
  .nametag {
    background-color: color-mix(in srgb, var(--nebula-accent), transparent 80%);
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-bottom: 0.1rem;
    padding-top: 0.1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: var(--nebula-accent);
  }
</style>
