<div class="flex space-x-4 mt-24">
  <a
    href="https://discord.com/users/777881392393879553"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img class="icon" src="discord.svg" alt="discord" />
  </a>
  <a href="https://github.com/r4ype" target="_blank" rel="noopener noreferrer">
    <img class="icon" src="github.svg" alt="github" />
  </a>
  <a
    href="https://www.linkedin.com/in/pawrsa/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img class="icon" src="linkedin.svg" alt="linkedin" />
  </a>
  <a
    href="mailto:raypemaster@gmail.com"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img class="icon" src="google.svg" alt="google" />
  </a>
  <a
    href="mailto:parsamiller@outlook.com"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img class="icon" src="microsoft.svg" alt="outlook" />
  </a>
</div>

<style>
  .icon {
    width: 25px;
    transition:
      transform 0.1s ease-in-out,
      filter 0.2s ease-in-out;
    filter: invert(100%);
  }
  .icon:hover {
    transform: scale(1.5);
    filter: brightness(1.2);
  }
</style>
